/* --- Custom  --- */

/* Global definitions */

:root {
  --color-primary: #ffca91;
  --color-secondary: #9156ad;
}
:root.dark-mode {
  --color-primary: #ffca91;
  --color-secondary: #9156ad;
}
::selection {
  background-color: var(--color-secondary);
  color: white;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
li {
  text-indent: 10px;
  margin-left: 2rem;
  line-height: 2rem;
}
p {
  line-height: 2rem;
}

h3,
h4,
h5 {
  font-weight: normal;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
}

section {
  min-height: 10rem;
  height: 100%;
  display: grid;
  place-items: center;
  align-items: center;
  // max-height: 70rem;
}
